<div class="card mt-3">
    <div class="row mb-3">
        <div class="col-4 col-md-2 center text-center">
            <div class="mt-3" id="summaryValue">
                RAZEM: {{round(expensesSum*currencyValue)}} {{currencyName}}
            </div>
            Przelicz na:
            <form [formGroup]='changeCurrencyForm'>
                <select formControlName='currency' class="mt-2 text-center" (click)="changeCurrency()">
                    <option value='' disabled>Waluta</option>
                    <option value='PLN'>PLN</option>
                    <option value='EUR'>EUR</option>
                    <option value='USD'>USD</option>
                    <option value='GBP'>GBP</option>
                </select> 
            </form>
        </div>
        <div class="col-8 col-md-10">
            <section class="list-with-scroll">
                <div class="list mt-4" appScrollable #list="appScrollable" [scrollUnit]="150">
                    <div *ngFor='let contributor of contributors' id="icons" class="text-center" style="color: white;">
                        <div id="summary" class="mr-3">
                            <div style="border: solid 1px white;">
                                {{contributor.username}}
                            </div>
                            <app-summarical-expenses [username]="contributor.username" [category]="category" [contributors]="contributors" [currencyValue]="currencyValue" [currencyName]="currencyName"></app-summarical-expenses>
                        </div>
                    </div>
                </div>
            
                <button class="scroll-button mt-4" *ngIf="list.isOverflow" [class.disable]="!list.canScrollStart" (click)="list.scroll(-1)" id="scroll-left">&#8678;</button>
            
                <button class="scroll-button mt-4" *ngIf="list.isOverflow"  [class.disable]="!list.canScrollEnd" (click)="list.scroll(1)">&#8680;</button>
            </section>
        </div>
    </div>

    <form [formGroup]='closeCategoryForm' style="border: 1px solid whitesmoke;">
        Rozliczone? <input type="checkbox" [checked]="category.isClosed" value="{{category.isClosed}}" (click)="closeCategory()" />
    </form>
</div>