.calendar {
    position: relative;
}
  
.calendar i{
    position: absolute;
    left: 15px;
    top: 40px;
    color: gray;
}

input[type=text] {
    background-color: gray;
    color: whitesmoke;
}

input[type=text]::placeholder {
    color: white !important;
}

input[type=text]:focus {
    background-color: gray;
}

label {
    color: whitesmoke;
}