<div id="goBack" (click)="backClicked()"><i class="fa fa-arrow-left mr-2 mb-4"></i>Wróć</div>

<h4>Grupa: {{group?.name}}</h4>

<div id="invisible">{{group?.name}}</div>
<div class="text-right">
    <button (click)="addToGroupToggle()" id="add" class="btn btn-info">Dodaj do grupy</button>
</div>

<div class="card mt-3" *ngIf="addToGroup">
    <app-group-contributors-form  [group]="group"></app-group-contributors-form>
</div>

<hr style="border: 1px solid white;">

<app-group-tasks-filter [tasks]="tasks" [id]="group?.id"></app-group-tasks-filter>

