.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}

#invisible {
    display: none;
}

.btn-info {
    background-color: black !important;
    border: 1px solid black;
}

.btn-info:hover {
    color: red;
    border: 1px solid white;
}

#goBack:hover {
    width: 150px !important;
    cursor: pointer;
    color: green;
}