.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}

#invisible {
    display: none;
}

#add:hover {
    cursor: pointer;
    color: greenyellow;
}