.card {
    padding: 5px;
  }

  #cancel:hover {
    color: red;
    border: 1px solid red;
  }

  .fa-trash:hover {
    cursor: pointer;
    color: red;
  }

  .fa-pencil:hover {
    cursor: pointer;
    color: green;
  }

  .fa-comment:hover {
    cursor: pointer;
    color: orange;
  }

  input[type=text] {
    height: 40px;
    width: 60%;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
  color: white;
}

#comment {
  background-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#details {
  font-size: 10px;
}
