.card {
    padding: 5px;
  }

  #cancel:hover {
    color: red;
    border: 1px solid red;
  }

  .fa-trash:hover {
    cursor: pointer;
    color: red;
  }

  .fa-pencil:hover {
    cursor: pointer;
    color: green;
  }

  input[type=text] {
    height: 40px;
    width: 60%;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
  color: white;
}
