<div class="text-right mr-2">
    <span id="close" (click)="close()">X</span> 
</div>
<div class="container" style="border: solid 1px white;">
    <div class="text-center mt-3">
        <p>Kto płacił: {{expense.whoPaid}}</p>
        <p>Wydatek: {{expense.name}} - {{expense.amount}}</p>
    </div>
    <form [formGroup]='spendingsForm' class="text-center p-3" (ngSubmit)="addSpendings()">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4 text-left">
                <div>
                    <p>Kto się zrzuca:</p>
                </div>

                <div *ngFor="let contributor of contributors" (change)="onChange(contributor.username)">
                    <div>
                        <input type="checkbox" value="{{contributor.username}}" /> {{contributor.username}}
                    </div>
                </div>
            </div>        
            <div class="col-4 text-right">
                <div>
                    <p>Jak się zrzuca:</p>
                </div>
                <select formControlName='splitter' class="mt-2 text-center">
                    <option value='' disabled>Wybierz</option>
                    <option value='0'>Po równo</option>
                    <option value='1'>Niestandardowo</option>
                </select> 
            </div>
        </div>

        <div *ngIf="selected_contributors.length > 0" class="mt-3">
            <div *ngFor="let contributor of selected_contributors">
                <div *ngIf="spendingsForm.value['splitter'] === '0'">
                    {{contributor}} do zapłaty {{round(expense.amount/(selected_contributors.length))}} {{category.currency}}
                </div>
                <div *ngIf="spendingsForm.value['splitter'] === '1'">
                    {{contributor}} do zapłaty <input type="number" #email (change)="onKeyUp(contributor, email.value)" placeholder="Kwota"/>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <button class="btn btn-success">Dodaj</button>
            <button class="btn btn-warning ml-2" (click)="close()">Anuluj</button>
        </div>
    </form>
</div>
