<div class="row text-center" id="background" style="border: 3px solid rgb(209, 207, 207);">
    <br />
    <div class="col-12 text-center mt-2 mb-4"><h3>Twój profil</h3></div>
    <div class="col-6 text-center mb-5" style="border-right: 1px solid white; margin-left: auto; margin-right: auto;" *ngIf="member">
        <div style="margin-left: auto; margin-right: auto;">
            <img src="{{user?.photoUrl || '././assets/user.png'}}" id="photo" alt="{{member?.username}}" class="card-img-top img-thumbnail">
        </div>
        <h3 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length < 8">{{member?.username}}</h3>
        <h4 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length > 8 && member?.username?.length < 16">{{member?.username}}</h4>
        <h5 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length > 16">{{member?.username}}</h5>
        <hr>
    </div>
    <div class="col-6" id="attributes" style="margin-top: 50px;">
        <div class="card-body text-left ml-5" *ngIf="member">
            <div class="mb-3">
                <i class="fa fa-calendar mr-2"></i><strong> Wiek: </strong><span style="color: greenyellow">{{member?.age || 69}}</span>
            </div>
            <i class="fa-solid fa-helicopter"></i>
            <div class="mb-3">
                <i *ngIf="member?.gender === 'female'" class="fa fa-female mr-2"></i>
                <i *ngIf="member?.gender === 'male'" class="fa fa-male mr-2"></i>
                <img *ngIf="member?.gender !== 'male' && member?.gender !== 'female'" id="helicopter" src="././assets/helicopter-solid.svg">
                <strong>Płeć: </strong><span style="color: greenyellow">{{genderToPolish(member?.gender)}}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-history mr-2" aria-hidden="true"></i><strong>Ostatnia aktywność: </strong><span style="color: greenyellow">{{member?.lastActive | timeago}}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-user-plus mr-2" aria-hidden="true"></i><strong>Dołączył: </strong><span style="color: greenyellow">{{changeDateFormat(member?.created)}} ({{member?.created | timeago}})</span>
            </div>
        </div>
    </div>
    <div class="col-12 mb-5" *ngIf="!member">
        <img id="loading" src="./assets/loading-load.gif" alt="loading">
    </div>
</div>

<div class="text-center no-gutters mt-4" *ngIf="member && !loading" style="margin-left: -10px !important; margin-right: -10px !important;">
    <tabset class="text-center col-12" id="tabs">
        <tab heading='Ustawienia konta' class="text-center">
            <div class="mt-5">
                <label class="switch">
                    <input type="checkbox" [checked]="user?.toggleSounds" (click)="toggleSounds()">
                    <span class="slider round"></span>
                </label>
                <div>
                    W<span *ngIf="user?.toggleSounds">y</span>łącz dźwięki <i class="fa fa-file-audio-o"></i>
                </div>
            </div>
        </tab>
        <tab heading='Komentarze'>
            <div *ngIf="comments?.length <= 0" class="text-center mt-3" style="min-height: 200px;">
                <h3 id="comments" class="mt-5">Brak komentarzy użytkownika</h3>
            </div>
            <div *ngFor="let comment of comments">
                <div class="mt-4"></div>
                <app-comments [comment]="comment"></app-comments>
                <div class="mb-3"></div>
            </div>
        </tab>
        <tab heading='Zmiana avatara' class="text-center">
            <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
        <tab heading='Moje konto' class="text-center">
            <app-change-password></app-change-password>
        </tab>
    </tabset>
</div>