<app-task-card-form [id]="id"></app-task-card-form>

<div class="text-right" id="filter" (click)="toggleFilter()">Filtruj</div>
<div class="text-center" class="mb-5" *ngIf="filter">
    <h2 class="mt-5 mb-3">Filtruj zadania</h2>
    <form [formGroup]='toDoListTimespanForm' (ngSubmit)="toDoListTimespanForm.valid && filterTasks()" autocomplete="off">
        <div class="row">
            <div class="col-4">
                <app-date-input [formControl]='toDoListTimespanForm.controls["from"]' 
                [label]='"Data od"' autocomplete="off"></app-date-input>
            </div>
            <div class="col-4">
                <app-date-input [formControl]='toDoListTimespanForm.controls["to"]' 
                [label]='"Data do"' autocomplete="off"></app-date-input>
            </div>
            <div class="col-3">
                <button class="btn btn-info" type="submit">Filtruj</button>
            </div>
        </div>
    </form>
</div>

<app-tasks-list-card [tasks]="tasks" [filterTasksBool]="filterTasksBool"></app-tasks-list-card>