.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}

#filter {
    color: rgb(196, 133, 255);
}

#filter:hover {
    color: blueviolet;
    cursor: pointer;
}