<div class="container">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <p class="lead">Podziel swoje wydatki lub zorganizuj swoje zadania z innymi.<span *ngIf="(accountService.currentUser$ | async) === null">.. musisz jedynie się zalogować!</span></p>
        <div class="text-center" *ngIf="(accountService.currentUser$ | async) === null">
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <div class="card slide-right">
        <a  *ngIf="accountService.currentUser$ | async" routerLink="/expenses">
            <img src="././assets/split_bills_c1.png" alt=""> 
            <div class="mt-3 mb-3">Podziel się wydatkami</div>
        </a>
        <div *ngIf="(accountService.currentUser$ | async) === null" >
            <img src="././assets/split_bills_c1.png" alt=""> 
            <div class="mt-3 mb-3" id="openNav" (click)="openNav()">Podziel się wydatkami</div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <div class="card slide-left">
        <a  *ngIf="accountService.currentUser$ | async" routerLink="/to-do-list">
            <img src="././assets/organise.jpg" alt=""> 
            <div class="mt-3 mb-3">Zorganizuj swój dzień</div>
        </a>
        <div *ngIf="(accountService.currentUser$ | async) === null" >
            <img src="././assets/organise.jpg" alt=""> 
            <div class="mt-3 mb-3" id="openNav" (click)="openNav()">Zorganizuj swój dzień</div>
        </div>
    </div>
</div>

<hr class="mt-5" id="hr">
<div class="text-center">Zobacz inne moje aplikacje</div>
<hr id="hr">

<div class="text-center mt-5 mb-5">
    <div class="card slide-right">
        <a href="https://ddmemes.com.pl" title="Memy na miarę Twoich możliwości. Ty też możesz dać z siebie 30%!">
            <img src="././assets/logo (gimp - new).png" alt=""> 
            <div class="mt-3 mb-3">Zbiór obrazków, gifów i filmików dla sympatyków czarnego humoru.</div>
        </a>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <div class="card slide-left">
        <a href="https://filip-92.github.io/" title="Aplikacja pogodowa z możliwością losowania memów z aplikacji DDMemes">
            <img id="weather" src="././assets/jaka-pogoda-wariacie.png" alt="">Jaka pogoda wariacie? 
            <div class="mt-3 mb-3" >Aplikacja pogodowa</div>
        </a>
    </div>
</div>

<div *ngIf="display">
    <app-nav [displayBoolean]="display"></app-nav>
</div>


