#tabs {
    border: 1px solid white;
    padding: 5px;
    width: 100px !important;
    margin-left: auto;
    margin-right: auto;
}

#tabs:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
}

h3:hover {
    cursor: pointer;
    color: red;
}