<div *ngIf="!filterTasksBool">
    <h3>Zadania na dzisiaj - {{currentDate | date: 'dd MMMM yyyy'}}</h3>
    <div *ngIf="tasks?.length > 0" class="mt-5">
        <div *ngFor="let task of tasks">
            <div *ngIf="(task.taskDate | date:'yyyy-MM-dd') === (currentDate | date:'yyyy-MM-dd')">
                <app-task-card [task]="task"></app-task-card>
            </div>
        </div>  
    </div>
</div>

<h3 class="mt-5">Wszystkie zadania</h3>
<div *ngIf="tasks?.length > 0" class="mt-5">
    <div *ngFor="let task of tasks">
        <app-task-card [task]="task"></app-task-card>
    </div>  
</div>
<div *ngIf="tasks?.length <= 0 || tasks === null" class="text-center">
    <h4 class="mb-4">Brak zadań w danym zakresie czasu</h4>
</div>
