input[type=text] {
    height: 40px;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
}

#group:hover {
    cursor: pointer;
    color: red;
}

.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}