<a routerLink="/meme/{{meme?.id}}" class="mr-2 text-center" *ngIf="!loading">
    <span *ngIf="meme?.url?.includes('youtube-nocookie')">
        <img src="{{youtubeThumbnail}}" alt="{{meme?.title}}" style="padding: 10px;">
    </span>
    <img src="{{meme?.url}}" class="card-img-top" alt="{{meme?.title}}" *ngIf="checkURL(meme?.url) && !meme?.url?.includes('youtube-nocookie')" style="padding: 10px;"/>
    <video src="{{meme?.url}}" class="card-img-top" alt="{{meme?.title}}" *ngIf="!checkURL(meme?.url) && !meme?.url?.includes('youtube-nocookie')" style="padding: 10px;"></video>
</a>
<div *ngIf="loading">
    <img src="././assets/LogoImage.png" class="card-img-top" alt="{{meme?.title}}" style="padding: 10px;">
</div>
