input[type=text] {
    height: 40px;
    width: 250px;
    border-radius: 8px;
    background-color: gray;
    color: whitesmoke;
    margin-left: -200px;
}

::placeholder {
    color: whitesmoke;
}

.card {
    background-color: black;
    margin-bottom: 5px;
}

.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}