<div class="text-center"> 
    <p>Dodaj do grupy:</p>
    <form *ngIf="!alreadyAdded" [formGroup]='addYourselfForm' (ngSubmit)="addContributor(addYourselfForm.value)">
        <button class="btn btn-success" type="submit">Dodaj siebie</button>
    </form>
</div>
<form [formGroup]='contributorForm' (ngSubmit)="contributorForm.valid && addContributor(contributorForm.value)" class="text-center row p-3">
    <div class="col-9">
        <input type="text" class="mb-2" [formControl]='contributorForm?.controls["username"]' placeholder="Wpisz nazwę użytkownika"/>
        <input type="text" [formControl]='contributorForm?.controls["email"]' placeholder="Wpisz adres email"/>
    </div>
    <button class="btn btn-success ml-2 col-2" id="addAnnoun" type="submit" [disabled]="!contributorForm?.valid">Dodaj użytkownika</button>
</form>
<div class="text-center">
    <div *ngIf="contributorForm?.controls['username'].errors?.maxlength" class="text-danger">
        Nazwa wydatku zbyt długa
    </div>
    <div *ngIf="contributorForm?.controls['username'].errors?.required && contributorForm?.controls['username'].touched" class="text-danger">
        Nazwa użytkownika jest wymagana
    </div>
    <div *ngIf="contributorForm?.controls['email'].errors?.required && contributorForm?.controls['email'].touched" class="text-danger">
        Email jest wymagany
    </div>
    <div *ngIf="contributorForm?.controls['email'].errors?.pattern && contributorForm?.controls['email'].touched" class="text-danger">
        Podaj prawidłowy adres email
    </div>
</div>

<div *ngFor="let contributor of contributors">
    <div class="card">
        <div class="row">
            <div class="col-5 text-left ml-3">
                {{contributor.username}}
            </div>
            <div class="col-6 text-right">
                <span *ngIf="contributor.username !== user.username">
                    <i class="fa fa-trash ml-3 text-right" (click)="removeContributor(contributor.id)" title="Usuń"></i>
                    <app-group-contributor-card [contributor]="contributor" [group]="group" [user]="user"></app-group-contributor-card>
                </span>
            </div>
        </div>
    </div>
</div>

<br/>