input[type=number], input[type=text] {
    height: 40px;
    width: 80%;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    border-radius: 8px;
    background-color: gray;
    margin-bottom: -15px !important;
    color: whitesmoke !important;
}

::placeholder {
    color: whitesmoke;
}

input {
    color: whitesmoke !important;
}

.btn {
    height: 50px;
}

.card {
    background-color: black;
    margin-bottom: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 80%;
    }
}

