input[type=text] {
    height: 40px;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
}

#group:hover {
    cursor: pointer;
    color: red;
}

.fa-pencil:hover {
    cursor: pointer;
    color: green;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}

a {
    text-decoration: none !important;
    color: white;
}

#goTo {
    padding: 5px;
    border: 1px solid whitesmoke; 
    border-radius: 4px;
}

#goTo:hover {
    cursor: pointer;
    color: green;
    border: 1px solid green;
}

a {
    text-decoration: none;
}